services:

  newsletter_api:
    image: ghcr.io/lukaskarel/lukaskarelat-newsletter:0.0.1
    container_name: ${STACK_NAME:-lukaskarelat}-newsletter_api
    restart: unless-stopped
    depends_on:
      - listmonk
    environment: 
      APP_LISTMONK_PASSWORD: "${NEWSLETTER_LISTMONK_PASSWORD:?}"
      APP_LISTMONK_USERNAME: "${NEWSLETTER_LISTMONK_USERNAME:?}"
      APP_LISTMONK_BASEURL: "http://${STACK_NAME:-lukaskarelat}-listmonk_app:80/"
      APP_TOKEN_SECRET: "${NEWSLETTER_TOKEN_SECRET:?}"
      APP_CORS_ALLOWED_ORIGINS: "${NEWSLETTER_ALLOWED_CORS:?}"
    networks:
      - newsletter

  # listmonk app
  listmonk:
    image: ghcr.io/lukaskarel/lukaskarelat-listmonk:0.0.1
    container_name: ${STACK_NAME:-lukaskarelat}-listmonk_app
    restart: unless-stopped
    command: [sh, -c, "./listmonk --install --idempotent --yes --config '' && ./listmonk --upgrade --yes --config '' && ./listmonk --config '' --static-dir=/listmonk/static"]
                                                              # --config (file) param is set to empty so that listmonk only uses the env vars (below) for config.
                                                              # --install --idempotent ensures that DB installation happens only once on an empty DB, on the first ever start.
                                                              # --upgrade automatically runs any DB migrations when a new image is pulled.
    environment:                                              # The same params as in config.toml are passed as env vars here.
      LISTMONK_app__address: 0.0.0.0:80
      LISTMONK_db__user: "${LISTMONK_DB_USERNAME:?}"
      LISTMONK_db__password: "${LISTMONK_DB_PASSWORD:?}"
      LISTMONK_db__database: listmonk
      LISTMONK_db__host: "${LISTMONK_DB_HOST:?}"
      LISTMONK_db__port: 5432
      LISTMONK_db__ssl_mode: ${LISTMONK_DB_SSL_MODE:-require}
      LISTMONK_db__max_open: 25
      LISTMONK_db__max_idle: 25
      LISTMONK_db__max_lifetime: 300s
      TZ: Europe/Vienna
    volumes:
      - listmonk_uploads:/listmonk/uploads
    networks:
      - newsletter


volumes:
  listmonk_uploads:

networks:
  newsletter:
    name: newsletter