services:

  caddy:
    build:
      context: ./caddy
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8080:80"
      - "8443:443"
      - "443:443/udp"
    volumes:
      - ./caddy/conf:/etc/caddy
      - ./caddy/site:/srv
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - proxy

  newsletter_api:
    image: !reset null
    ports:
      - "9001:80"
    networks:
      - proxy

  listmonk:
    image: !reset null
    build:
      context: ./listmonk
      dockerfile: Dockerfile
    ports:
      - "9000:80"
    networks:
      - proxy

volumes:
  caddy_data:
  caddy_config:

networks:
  proxy:
    name: proxy