{% if WWW_HOST_DOMAIN %}

{{WWW_HOST_DOMAIN}} {
    redir {{HOST_DOMAIN}}{uri} permanent
}

{% endif %}

{{HOST_DOMAIN}} {

    root * /srv/sites/lukaskarelat
	file_server

	# Serve 404.html for any missing file
	handle_errors {
		@notFound {
			expression {http.error.status_code} == 404
		}
		rewrite @notFound /404.html
		file_server
	}
}