# Workflow to build static SvelteKit Pages
name: Build static SvelteKit Pages

on:
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-site:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10
      
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: pnpm
      
      - name: Install dependencies
        run: pnpm i
      
      - name: Build site
        run: pnpm run build
          
      - name: Upload artifact
        uses: upload-artifact@v4
        with:
          name: lukaskarelat-static
          path: 'build/'