# Workflow to build static SvelteKit Pages
name: Build static SvelteKit Pages

on:
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  group: "prod"
  cancel-in-progress: false

jobs:
  build-site:
    runs-on: ubuntu-latest
    environment: prod
    permissions:
      contents: read
      id-token: write
    defaults:
      run:
        working-directory: ./src/frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      
      - name: Install dependencies
        run: npm install

      - name: Build site
        run: npm run build
        env:
          PUBLIC_API_URL: ${{ vars.HOST_DOMAIN }}
        
          
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: lukaskarelat-static
          path: 'build/'