# Workflow to build static SvelteKit Pages
name: Build Frontend

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_call:
    inputs:
      hostname:
        required: true
        type: string
      environment:
        required: true
        type: string
    outputs:
      website-artifict-id:
        description: "The artifict id to download the static build"
        value: ${{ jobs.built-site.outputs.website-artifict-id }}

jobs:
  build-site:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}
      url: ${{ inputs.hostname }}
    outputs:
      website-artifict-id: ${{ steps.upload.outputs.artifact-id }}
    permissions:
      contents: read
      id-token: write
    defaults:
      run:
        working-directory: ./src/frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      
      - name: Install dependencies
        run: npm install

      - name: Build site
        run: npm run build
        env:
          PUBLIC_API_URL: ${{ vars.HOST_DOMAIN }}
        
          
      - name: Upload static site
        id: upload
        uses: actions/upload-artifact@v4
        with:
          name: lukaskarelat-static
          path: './src/frontend/build/**'