name: Deploy
run-name: Deploy to ${{ inputs.environment }} by @${{ github.actor }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        type: choice
        options:
          - prod

concurrency:
  group: ${{inputs.environment}}
  cancel-in-progress: false

jobs:
  build-frontend:
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/build_static_sites.yml
    with:
      hostname: ${{ vars.HOST_DOMAIN }}
      environment: ${{inputs.environment}}

  deploy-site:
    needs: build-frontend
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}
      url: ${{ vars.HOST_DOMAIN }}
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Download static site
      uses: actions/download-artifact@v4
      with:
        artifact-ids: ${{ needs.build-frontend.outputs.website-artifict-id }}
        path: ./deploy/lukaskarelat
        merge-multiple: true

    - name: Setup Caddyfile
      uses: cuchi/jinja2-action@8bd801365a8d36a0b20f45ee969161685de7785a
      with:
        template: ./src/backend/caddy/Caddyfile.j2
        output_file: ./src/backend/caddy/lukaskarelat.caddy
        strict: true
        variables: |
          HOST_DOMAIN=${{vars.HOST_DOMAIN}}
          WWW_HOST_DOMAIN=${{vars.WWW_HOST_DOMAIN}}
          NEWSLETTER_API_PROXY_HOST=${{vars.NEWSLETTER_API_PROXY_HOST}}
          LISTMONK_HOST_DOMAIN=${{vars.LISTMONK_HOST_DOMAIN}}
          LISTMONK_PROXY_HOST=${{vars.LISTMONK_PROXY_HOST}}

    - name: Create tar archive
      run: |
          mkdir -p dist/tar dist/tar/caddy dist/tar/stack dist/tar/stack/listmonk
          cp -r deploy/lukaskarelat dist/tar/site
          cp src/backend/caddy/lukaskarelat.caddy dist/tar/caddy
          cp docker-compose.yml docker-compose-prod.yml dist/tar/stack

          echo "LISTMONK_DB_USERNAME=\"${{ secrets.LISTMONK_DB_USERNAME }}\"" >> dist/tar/stack/.env
          echo "LISTMONK_DB_PASSWORD=\"${{ secrets.LISTMONK_DB_PASSWORD }}\"" >> dist/tar/stack/.env
          echo "LISTMONK_DB_HOST=\"${{ secrets.LISTMONK_DB_HOST }}\"" >> dist/tar/stack/.env
          echo "LISTMONK_DB_SSL_MODE=\"${{ secrets.LISTMONK_DB_SSL_MODE }}\"" >> dist/tar/stack/.env

          echo "NEWSLETTER_LISTMONK_USERNAME=\"${{ secrets.NEWSLETTER_LISTMONK_USERNAME }}\"" >> dist/tar/stack/.env
          echo "NEWSLETTER_LISTMONK_PASSWORD=\"${{ secrets.NEWSLETTER_LISTMONK_PASSWORD }}\"" >> dist/tar/stack/.env
          echo "NEWSLETTER_TOKEN_SECRET=\"${{ secrets.NEWSLETTER_TOKEN_SECRET }}\"" >> dist/tar/stack/.env
          echo "NEWSLETTER_ALLOWED_CORS=\"[\\\"${{ vars.HOST_DOMAIN }}\\\"]\"" >> dist/tar/stack/.env

          tar -czf dist/archive.tar.gz \
              -C dist/tar .
    
    - name: Publish archive
      uses: appleboy/scp-action@7179e72a3fa4d4c33870a471708fda724fae7596
      with:
        host: ${{ secrets.DEPLOY_SSH_HOST }}
        username: ${{ secrets.DEPLOY_SSH_USER }}
        key: ${{ secrets.DEPLOY_SSH_KEY }}
        source: "dist/archive.tar.gz"
        target: /tmp/lukaskarelat
        rm: true
        strip_components: 1

    - name: Deploy
      uses: appleboy/ssh-action@3ca8a7c5359ac6ad91aa47f1946ece1c3b025004
      with:
        host: ${{ secrets.DEPLOY_SSH_HOST }}
        username: ${{ secrets.DEPLOY_SSH_USER }}
        key: ${{ secrets.DEPLOY_SSH_KEY }}
        script: |
          # next line is required that script fails if one command returns non-zero return code
          set -e

          rm -rf /tmp/lukaskarelat/ext
          mkdir -p /srv/stacks/lukaskarelat /tmp/lukaskarelat/ext
          tar -xvf /tmp/lukaskarelat/archive.tar.gz -C /tmp/lukaskarelat/ext

          cd /srv/stacks/lukaskarelat

          # in the future i want to remove this line. But this requires to build listmonk in own image
          docker compose down
          rsync --delete -r /tmp/lukaskarelat/ext/site/ /srv/sites/lukaskarelat
          cp /tmp/lukaskarelat/ext/caddy/lukaskarelat.caddy /srv/stacks/proxy/caddy-cfg/

          # do not remove old files or folders (there might be some folders we need for mounts)
          rsync -r /tmp/lukaskarelat/ext/stack/ /srv/stacks/lukaskarelat

          docker compose -f docker-compose.yml -f docker-compose-prod.yml up -d

          # required -lc that login is triggered and reload function should be loaded then
          bash -lc "reload_proxy_config"

