name: Deploy
run-name: Deploy to ${{ inputs.environment }} by @${{ github.actor }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        type: choice
        options:
          - prod

concurrency:
  group: ${{inputs.environment}}
  cancel-in-progress: false

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    environment:
      name: ${{inputs.environment}}
      url: ${{ vars.HOST_DOMAIN }}
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/build_static_sites.yml
    with:
      hostname: ${{ vars.HOST_DOMAIN }}

