
name: build and publish a Docker image

on:
  workflow_call:
    inputs:
      service:
        required: true
        type: string
      image_name:
        required: true
        type: string
      image_description:
        required: false
        type: string


env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ inputs.image_name }}

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    # Set job outputs to values from filter step
    outputs:
      service: ${{ steps.filter.outputs.service }}
    steps:
    - uses: actions/checkout@v5

    - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
      id: filter
      with:
        filters: |
          service:
            - 'src/backend/${{inputs.service}}/**'

  build-and-push-image:
    needs: changes
    if: ${{ needs.changes.outputs.service == 'true' }}
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Get version
        id: version
        run: echo "version=$(cat src/backend/${{inputs.service}}/VERSION)" >> $GITHUB_OUTPUT

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/${{ github.actor }}/${{ env.IMAGE_NAME }}
          labels: |
            org.opencontainers.image.title=${{inputs.image_name}}
            org.opencontainers.image.description=${{inputs.image_description}}
            org.opencontainers.image.vendor=${{ github.actor }}
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
          tags: |
            sha-${{ github.sha }}
            latest
            ${{ steps.version.outputs.version }}


      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          context: src/backend/${{inputs.service}}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
