@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: business --default;
}

@import '@fontsource-variable/arimo/wght.css';

@import 'prismjs/themes/prism-tomorrow.css'
